@model  Gamers.Web.Models.Cuenta
@{
    ViewBag.Titulo = "Suma";
}
<h2>@ViewBag.Titulo</h2>
<h2>@ViewData["Fecha"]</h2>
<div class="container-fluid">
    <div class="row">
       <div class=" col-md-12">
           <form method="post" >
               <div class="form-group">
                   <label for="Num1">Numero 1 </label>
                   <input type="number" value=" @((this.Model != null) ? this.Model.Num1.ToString():"0")" name="Num1" class="form-control" id="Num1" >
               </div>
               <div class="form-group">
                   <label for="Num2">Numero 2</label>
                   <input type="number"  value=" @((this.Model != null) ? this.Model.Num2.ToString():"0")" name="Num2" class="form-control" id="Num2">
               </div>
               <div class="form-group">
                   <label>Resultado</label>
                       <span>
                           @((this.Model != null) ? this.Model.Sumar().ToString():"Aprete el boton para sumar")
                       </span>
               </div>

               <button type="submit" class="btn btn-primary">Submit</button>
           </form>
       </div>
    </div>
</div>
